# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#dependencies
node_modules

#production
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#env
.env

#masOs
._*
.DS_Store

#logs
npm-debug.log

#ignore

#old program files
index2.html
App2.tsx
index2.css
main2.tsx
package2.json
packack-lock2.json
README2.md
vite.config2.
README_v1.md


